<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error Page.</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container"><br/>
      <h1 class="center-title">Erro Page.</h1><br/>
    </div>
  </body>
</html>